
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika+Negative:wght@300..700&family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika+Negative:wght@300..700&family=Signika:wght@300..700&display=swap');
/*Corpo do site                                           */

/*Possuimos 3 pilares centrais                          */

/*Footer (Saiba mais)                                   */

/*Footer dos links inferior                              */
* {
    font-family: 'Signika Negative' ;
}




body{
    background-color: black;
    color: aliceblue;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 150px;
    margin: auto;
}













h1 {
    margin-top: -20px;
    color: rgb(100, 220, 160);
    background-color: rgb(17, 17, 17);
    border-radius: 15px;
    width: 500px;
     box-shadow: 0px 0px 5px rgb(100, 220, 160);
      border: 1px solid rgb(100, 220, 160);
}


h4{
    margin-top: -20px;
    margin-bottom: 150px;
    background-color: rgb(17, 17, 17);
    border-radius: 15px;
    width: 220px;
       box-shadow: 1px 1px 5px rgb(100, 220, 160);
      border: 1px solid rgb(100, 220, 160);
      color: rgb(100, 220, 160);
}


h2{
    color: rgb(100, 220, 160);
    margin-top: 50px;
    font-size: 25px;
    background-color: rgb(40, 40, 40);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 20px rgb(100, 220, 160);
    border: 1px solid rgb(100, 220, 160);
}
.alinhamentoh3 h3{
    color:rgb(255, 255, 255) ;
    margin: 0;
}


.alinhamentoh3 p{
    margin: 0;  
}


.alinp {
    gap: 30px;
    text-align: left;
   
}


.alinp p{
    margin-top: 20px;
    font-size: 21px;
    margin-bottom: 70px;
}


.alinp h2{
    margin-top: 0px;
    font-size: 30px;
}


main h2:hover{
color:  rgb(31, 71, 51) ;
}







main h3:hover{
color: rgb(73, 190, 40, 0.521) ;
}


.rodape {
    width:100%;           /* Largura */
    margin-top: 180px;          /* Altura */
    background-color: rgb(20, 19, 19); /* O verde do seu h1 */
    margin-bottom: 20px;          /* Espaçamento igual aos links */  
    /* Opcional: se quiser pontas levemente arredondadas */
    border-radius: 16px; 
     box-shadow: 0px 3px 10px rgb(100, 220, 160);
      border: 1px solid rgb(255, 255, 255);
}
.alinb {
    display: flex;
    color: white;
    align-items: center;
    gap: 10px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    
}

.alinb p{
    margin: 0 ;
    
}


main{
     border: 1px solid rgb(100, 220, 160);
     border-radius:15px ;
     min-height: 500px;
     width: 100%; ;
     align-items: center;
     text-align: center;
     display: flex;
     justify-content: space-between;
     flex-direction: column;
     padding-left:150px;
     padding-right: 150px;
    box-shadow: 0px 3px 15px rgb(100, 220, 160);
     padding-top: 50px;
     padding-bottom:50px;
     max-width: 1400px;
     margin: auto;
     margin-top: 100px;
}
.center  {
    display: flex;
    flex-direction: column;
    align-items: center;
}







/*se eu quiser alter ceparadamente as informações perciso criar uma:
SUBCLASS */
.centertxt{ /* e so um exemplo*/
}
/*Para acessar mais facilmetne podemos tambem fazer o seguinte*/
/* acessar apenas um elemento dentro da class*/

 header  h3{
    font-size: 25px;
    color: rgb(255, 255, 255);
}
 /*Oque esta aqui dentro obrigatoriamente vai seguir o center */
 
header h3:hover{
color: rgb(100, 220, 160) ;
}
header h4:hover{
color: rgb(100, 220, 160) ;

}


header h1:hover{
color: rgb(31, 71, 51) ;

}

.container1{
display:flex;
justify-content: center;
list-style-type: none;
padding: 0px 50px ;
align-items: center;
display: inline-block;
text-align: center;
}

/*Entrando aqui pra dentro temos a escrita do site               */
/*Nome a e o texto que tem dentro do <li <container>> <a>        */
/*Ela e do tipo <nav> bar                                        */
a {
    color: white;
    text-decoration: none;
}

/*Aqui ja antramos dentro do nosso <Section>*/
.alinhamentoh3{
    display:flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}
header{.center h1 {
justify-content: center;
text-align: center;
align-items: center;
align-content: center;

}}
main{
    justify-content: space-between;
}


footer img {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px; 
    text-align: center;
}

footer p {
 margin-top: auto; 
}

